@model RazzaCaninaViewModel

@{
    ViewData["Title"] = "Razze Feline";
}

@section scripts {

<script>

    function loadListBreeds(isFiltrata) {
        $("#loader").html('<div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>');
        if(isFiltrata){
            let form = $('#formValidationSearch');
            var data = form.serialize();
            $.get({
                url: "/Animale/_ListRazzeFelineFiltrata",
                data: data,
                cache: false
            }).done(function (data) {
                $("#loader").empty();
                $("#divListBreeds").html(data);
            }).fail(function (data) {
            });
        }else{
            $("#name").val("");
            $("#loader").empty();
            $("#divListBreeds").empty();
        }
        $("#loader").attr("hidden", "");
    }

    function openModaleDettaglioRazza(name, temperament, img) {
        $.get({
            url: "/Animale/_ModalDettaglioRazza/" + '?temperament=' + temperament + '&img=' + img + '&name=' + name,
            cache: false
        }).done(function (data) {
            $("#divMyModal").html(data);
            var myModal = new bootstrap.Modal(document.getElementById('modalDettaglioRazza'));
            myModal.show();
        }).fail(function (data) {
            showAjaxError(data);
        });
    }

    $(document).ready(function () {
        //loadListBreeds(false);
    });
</script>

}

<style>

    tbody {
        display: block;
        height: 400px;
        overflow: auto;
    }

        thead, tbody tr {
            display: table;
            width: 100%;
            table-layout: fixed;
        }

    thead {
        width: calc( 100% - 1em )
    }

    table {
        width: 400px;
    }

    #hero {
        width: 100%;
        height: 60vh;
        background: url("/media/images/gatto.jpg") center center;
        background-size: cover;
        position: relative;
        margin-top: 70px;
        padding: 0;
    }

</style>


<div class="container">
    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact section-bg mt-3">
        <div class="container">
            <div class="section-title">
                <h2>@ViewData["Title"]</h2>
                <p>Consulta la lista di tutte le razze feline per valutare il pet più affine al tuo stile di vita</p>
            </div>
            <div class="row mt-5 justify-content-center">
                <div class="col-lg-10">
                    <form id="formValidationSearch" class="php-email-form">
                        <div class="row">
                            <div class="mt-3 form-group">
                                <input type="text" asp-for="name" name="name" class="form-control" id="name" placeholder="Cerca per nome..">
                            </div>
                        </div>
                        <div class="text-center"><button type="submit" onclick="loadListBreeds(true)">Cerca</button><button type="submit" onclick="loadListBreeds(false)" class="ms-3">Reset</button></div>
                    </form>
                </div>
            </div>
            <div id="loader" class="d-flex justify-content-center">
            </div>
            <div id="divListBreeds"></div>
        </div>
    </section><!-- End Contact Section -->
    <br />
    @*<div class="row">
        <div class="col">
        <div id="loader" hidden>
        <div class="d-flex justify-content-center">
        <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
        </div>
        </div>
        </div>
        <div id="divListBreeds"></div>
        </div>
        </div>*@
</div>

<div class="row">
    <div class="col">
        <div id="divMyModal"></div>
    </div>
</div>