@model RecensioneViewModel

<div class="modal fade" id="modalAddRecensione" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="myModalLabel">
                    <b> Nuova Recensione </b><i class="fa-solid fa-star ms-2"></i>
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="formValidation">
                <div class="modal-body">
                    <div class="p-3">
                        <div class="section">
                            <div class="mb-5">
                                <p><i>Recensisci le tue esperienze personali con un addestratore e permetti 
                                    ad altri utenti interessati di conoscere e valutare pareri altrui prima di affidarvi il proprio pet</i></p>
                            </div>
                            <div class="mb-3">
                                <label for="note" class="form-label">Testo : </label>
                                <textarea type="text" asp-for="Testo" class="form-control" id="txtNote"></textarea>
                                <input type="hidden" asp-for="IdAddestratore" value="@ViewBag.IdAddestratore">
                                <input type="hidden" asp-for="IdPetsitter" value="@ViewBag.IdPetsitter">
                                <input type="hidden" asp-for="IdVeterinario" value="@ViewBag.IdVeterinario">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Chiudi</button>
                    <button type="button" class="btn btn-primary" onclick="salvaRecensione();">Salva</button>
                </div>
            </form>
        </div>
    </div>
</div>