@model IReadOnlyList<RecensioneViewModel>
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<div class="modal fade" id="modalViewRecensioni" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="myModalLabel"><b> Recensioni</b> <i class="fa-solid fa-ranking-star ms-2"></i></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="p-3">
                    <section id="about" class="about">
                        @if (Model.Count == 0)
                        {
                            <h3>Nessuna recensione rilasciata</h3>
                        }
                        else
                        {
                            @foreach (var item in Model)
                            {
                                <div class="row icon-boxes d-flex justify-content-senter">
                                    <div class="col">
                                        <i class="bx bx-receipt"></i>
                                        <h4>@item.UsernameUtente <i class="fa-solid fa-star-sharp-half-stroke"></i></h4>
                                        <p>
                                            @item.Testo


                                        </p>
                                    </div>
                                </div>
                                @if (SignInManager.IsSignedIn(User))
                                {
                                    @if (item.UsernameUtente == UserManager.GetUserName(User))
                                    {
                                        <a class='btn btn-sm btn-link d-flex justify-content-start' onclick='cancellaRecensione(@item.Id)' title="Elimina Recensione">Elimina Recensione</a>
                                    }
                                }
                                <hr />

                            }
                        }
                        <div id="loader2" class="d-flex justify-content-center"></div>
                    </section>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Chiudi</button>
            </div>
        </div>
    </div>
</div>